<?xml version="1.0" encoding="UTF-8" ?>
  <!DOCTYPE mapper
          PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="project.rasp.mapper.AdminMapper">
	  
	<!-- 전체 유저 조회 -->
	<select id="userlistadmin" resultType="User" >
	<!-- 유저랑 등급이랑 같이 조인해서 봄 -->
	select c.customer_id, c.userid, c.username, a.auth
from customer c, authlist a
where c.userid = a.userid;

	    </select>
	    
	<update id="adminauthchange" parameterType="map"  >
		update authlist set auth = #{auth}
	where userid = #{userid};
	</update>
	
	<select id="adminboardlist" resultType="Board" >
	<!-- 유저랑 등급이랑 같이 조인해서 봄 -->
	select * from board

	    </select>
	    
	    
	    <!-- 어드민이 강제로 글수정하기전에 조회 -->
	    <select id="adminboardmodify" resultType="Board"  parameterType="int" >
	<!-- 유저랑 등급이랑 같이 조인해서 봄 -->
	select * from board where board_id = #{board_id}

	    </select>
	    
	<select id="addBoard" resultType="string"  >
	<!-- 유저랑 등급이랑 같이 조인해서 봄 -->
	select column_name from virutal_table;

	    </select>
	   
	   <insert id="addBoardComplete" parameterType="VirutalBoard">
insert into virutal_table (virutal_name, virutal_auth) values 
(#{virutal_name}, #{virutal_auth})	   
	   </insert> 
	    
	    
	
  </mapper>

