<?xml version="1.0" encoding="UTF-8" ?>
  <!DOCTYPE mapper
          PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="project.rasp.mapper.BoardMapper">
	  
	   <select id="Content" resultType="Board" parameterType="int">
	   <!-- 글작성 -->
	  select * from board where board_id = #{board_id}
	    </select>
	  
	   <select id="getContentlist" resultType="Board">
	   <!-- id값은 usermapper에서 지정한 인터페이스 타입임 -->
	   select * from board
	  </select>
	  
	  
	  <select id="Comment" resultType="Comment" parameterType="int">
	   <!-- 댓글 조회 -->
	 select * from comment where board_id = #{board_id}
	    </select>


 <insert id="WriteContent" parameterType="map"> 
 <!--   keyProperty="id" -->
	   <!-- 댓글 조회 -->
	
	INSERT INTO BOARD (username, subject, content, write_date )
	VALUES ('test',  #{subject}, #{content}, now() )
	    </insert>
	    <!-- username이 null이라서 잠시 임의로 채움 -->
	    
	    
	     <insert id="WriteComment" parameterType="map"> 
 <!--   keyProperty="id" -->
	   <!-- 댓글 조회 -->
	
	INSERT INTO COMMENT (board_id, username, comment_content , comment_date )
	VALUES ( #{board_id}, 'test',  #{comment_content}, now() )
	    </insert>
	    
  </mapper>

