<?xml version="1.0" encoding="UTF-8" ?>
  <!DOCTYPE mapper
          PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="project.rasp.mapper.VirutalMapper">
	  

	<select id="getVirutalBoard" resultType="Board" parameterType="string">
	<!-- 가상게시판 게시글 전체조회 -->
select  b.board_id, b.userid, v.virutal_name, b.subject, b.content, v.virutal_auth, b.write_date, b.view_count, a.auth
from virutal_table v , board b right join authlist a
on b.userid = a.userid
where v.virutal_name = b.virutal_name and b.virutal_name = #{virutal_name} order by b.board_id desc;
	    </select>
	    
	<select id="addBoardHeader" resultType="VirutalBoard"  >
	<!-- 접속시 헤더에 자동으로 가상게시판 추가할 함수-->
	select virutal_name from virutal_table;

	    </select>
	
	     <insert id="insertVirutalBoard" parameterType="map"> <!-- 가상보드 게시글 작성 -->	
	INSERT INTO board (userid, subject, content ,virutal_name, write_date )
	VALUES ( #{userid},  #{subject}, #{content}, #{virutal_name} ,  now() )
	    </insert>
	    
	    	<select id="virutal_available" resultType="string"  parameterType="string" >
	<!-- 가상 게시판 유효성 검사 (존재하는 게시판인지)-->
	select virutal_name from virutal_table where virutal_name = #{virutal_name}

	    </select>
	 
	 <select id="checkVirutalBoardAuth" resultType="string"  parameterType="map" >
	<!-- 유저가 접근하는 가상 게시판 권한 접근가능 여부 -->
select * from virutal_table where virutal_auth = #{user_auth} and virutal_name = #{virutal_name};
	    </select>
	    
	    
	    	 <select id="statusVirutalBoardAuth" resultType="string"  parameterType="string" >
	<!-- 가상게시판 설정되어있는 권한확인 -->
select virutal_auth from virutal_table where virutal_name = #{virutal_name};
	    </select>
	    
<delete id="deleteVirutalContent" parameterType="map" >
		delete from board where board_id = #{board_id}
	</delete>
	
		 <select id="getVirutalContent" resultType="Board"  parameterType="int" >
	<!-- 가상게시판 설정되어있는 권한확인 -->
select * from board where board_id = #{board_id};
	    </select>
	    
	    
	
  </mapper>

